* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    background: url('https://img.freepik.com/free-photo/view-snowy-mountain-fir-trees-with-blue-sky-background_9083-8044.jpg?w=826&t=st=1704255015~exp=1704255615~hmac=46559d9d008d145b9e077c98a061633818d5fa27a8e6fb99b811b21aa0a291be') center center fixed;
    background-size: cover;
    margin: 0;
  } */
  